  <launch>

    <arg name="world_frame_id" default="world"/> <!--  -->
    <arg name="world_file_name" default="room.bt"/> <!-- Octomap file name, it must be bt file -->
    <arg name="world_resolution" default="0.1"/> 
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server"
        args="$(find plan_env)/world/$(arg world_file_name)">
    <param name="resolution"                 value="$(arg world_resolution)" />
    <param name="frame_id"                   value="$(arg world_frame_id)" type="string"/>
    <param name="sensor_model/max_range"     value="50.0" />
    <param name="height_map"                 value="false"/>
    <param name="color/r"                    value="0.2" />
    <param name="color/g"                    value="0.2" />
    <param name="color/b"                    value="0.2" />
    <param name="color/a"                    value="0.2" />
    </node>

    <arg name="map_size_x" value="10.0"/>
    <arg name="map_size_y" value="10.0"/>
    <arg name="map_size_z" value=" 1.5"/>

    <arg name="odom_topic" value="visual_slam/odom" />
    
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
        <arg name="drone_id" value="0"/>

        <arg name="init_x" value="-2.5"/>
        <arg name="init_y" value="-1.0"/>
         <arg name="init_z" value="0.5"/>

        <arg name="target_x" value="2.5"/>
        <arg name="target_y" value="-1.0"/>
        <arg name="target_z" value="0.5"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </launch>
